<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
    <link rel="stylesheet" href="../style/newpoll.css">
</head>
<body>
    <h2>vote for the candidate you like</h2>
    <!-- <ul class="candidates">

    </ul> -->
    <div class="button-container">
        
    </div>
    <!-- <img src="/image/bg.jpg" alt="bg pic" height="100%" width="100%" /> -->
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../js/newpoll.js"></script>
</body>
</html>